@font-face{
	font-family:Montserat;
	font-style:normal;
	font-weight:300;
	src:url(../fonts/montserrat-light.woff) format("woff"),url(../fonts/montserrat-light.woff2) format("woff2");
	font-display:swap
}
@font-face{
	font-family:Montserat;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/montserrat-regular.woff) format("woff"),url(../fonts/montserrat-regular.woff2) format("woff2");
	font-display:swap
}
@font-face{
	font-family:Montserat;
	font-style:normal;
	font-weight:500;
	src:url(../fonts/montserrat-medium.woff) format("woff"),url(../fonts/montserrat-medium.woff2) format("woff2");
	font-display:swap
}
@font-face{
	font-family:Montserat;
	font-style:normal;
	font-weight:700;
	src:url(../fonts/montserrat-bold.woff) format("woff"),url(../fonts/montserrat-bold.woff2) format("woff2");
	font-display:swap
}
html,ins,legend,mark{
	color:#000
}
a,blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
caption{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:400}
abbr,acronym{border:0;font-feature-settings:normal;font-variant:normal}
input,select,textarea{font-family:inherit;font-weight:inherit;font-size:100%}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
ins,mark{background-color:#ff9}
body{line-height:1}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:none}
a{font-size:100%;vertical-align:baseline;background:0 0}
ins{text-decoration:none}
mark{font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
.fancybox-container,.fancybox-thumbs,.fancybox-thumbs>ul>li{-webkit-tap-highlight-color:transparent}
body.compensate-for-scrollbar{overflow:hidden}
.fancybox-outer,.fancybox-thumbs{-webkit-overflow-scrolling:touch}
.fancybox-active{height:auto}
.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}
.fancybox-container{-webkit-backface-visibility:hidden;backface-visibility:hidden;height:100%;left:0;position:fixed;top:0;transform:translateZ(0);width:100%;z-index:99992}
.fancybox-container *{box-sizing:border-box}
.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}
.fancybox-outer{overflow-y:auto}
.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}
.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}
.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s,visibility 0s linear .25s;visibility:hidden;z-index:99997}
.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s,visibility 0s;visibility:visible}
.fancybox-slide,.fancybox-slide--image .fancybox-content{transition-property:transform,opacity}
.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;text-align:center;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.fancybox-toolbar{right:0;top:0}
.fancybox-stage{direction:ltr;overflow:visible;-webkit-transform:translate3d(0,0,0);z-index:99994}
.fancybox-is-open .fancybox-stage{overflow:hidden}
.fancybox-slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:none;height:100%;left:0;outline:0;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;white-space:normal;width:100%;z-index:99994}
.fancybox-slide::before{content:'';display:inline-block;height:100%;margin-right:-.25em;vertical-align:middle;width:0}
.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}
.fancybox-slide--next{z-index:99995}
.fancybox-slide--image{overflow:visible;padding:44px 0}
.fancybox-slide--image::before{display:none}
.fancybox-slide--html{padding:6px 6px 0}
.fancybox-slide--iframe{padding:44px 44px 0}
.fancybox-content{background:#fff;display:inline-block;margin:0 0 6px;max-width:100%;overflow:auto;padding:24px;position:relative;text-align:left;vertical-align:middle}
.fancybox-image,.fancybox-slide--image .fancybox-content,.fancybox-spaceball{left:0;margin:0;max-width:none;position:absolute;top:0;padding:0}
.fancybox-button,.fancybox-iframe{vertical-align:top}
.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;backface-visibility:hidden;background:no-repeat;background-size:100% 100%;overflow:visible;transform-origin:top left;-ms-user-select:none;-webkit-user-select:none;user-select:none;z-index:99995}
.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}
.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}
.fancybox-can-drag .fancybox-content{cursor:grab}
.fancybox-is-dragging .fancybox-content{cursor:grabbing}
.fancybox-container [data-selectable=true]{cursor:text}
.fancybox-image,.fancybox-spaceball{background:0 0;border:0;height:100%;max-height:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;width:100%}
.fancybox-spaceball{z-index:1}
.fancybox-slide--html .fancybox-content{margin-bottom:6px}
.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;margin:0;overflow:visible;padding:0;width:100%}
.fancybox-slide--video .fancybox-content{background:#000}
.fancybox-slide--map .fancybox-content{background:#e5e3df}
.fancybox-slide--iframe .fancybox-content{background:#fff;height:calc(100% - 44px);margin-bottom:44px}
.fancybox-iframe,.fancybox-video{background:0 0;border:0;height:100%;margin:0;overflow:hidden;padding:0;width:100%}
.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}
.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}
.fancybox-button{background:rgba(30,30,30, .6);border:0;border-radius:0;cursor:pointer;display:inline-block;height:44px;margin:0;outline:0;padding:10px;transition:color .2s;width:44px}
.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}
.fancybox-button:focus,.fancybox-button:hover{color:#fff}
.fancybox-button.disabled,.fancybox-button.disabled:hover,.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default}
.fancybox-button svg{display:block;overflow:visible;position:relative;shape-rendering:geometricPrecision}
.fancybox-button--pause svg path:nth-child(1),.fancybox-button--play svg path:nth-child(2),.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small{display:none}
.fancybox-button svg path{fill:transparent;stroke:currentColor;stroke-linejoin:round;stroke-width:3}
.fancybox-button--play svg path,.fancybox-button--share svg path,.fancybox-button--thumbs svg path{fill:currentColor}
.fancybox-button--share svg path{stroke-width:1}
.fancybox-navigation .fancybox-button{height:38px;opacity:0;padding:6px;position:absolute;top:50%;width:38px}
.fancybox-show-nav .fancybox-navigation .fancybox-button{transition:opacity .25s,visibility 0s,color .25s}
.fancybox-navigation .fancybox-button::after{content:'';left:-25px;padding:50px;position:absolute;top:-25px}
.fancybox-navigation .fancybox-button--arrow_left{left:6px}
.fancybox-navigation .fancybox-button--arrow_right{right:6px}
.fancybox-close-small{background:0 0;border:0;border-radius:0;color:#555;cursor:pointer;height:44px;margin:0;padding:6px;position:absolute;right:0;top:0;width:44px;z-index:10}
.fancybox-close-small svg{fill:transparent;opacity:.8;stroke:currentColor;stroke-width:1.5;transition:stroke .1s}
.fancybox-close-small:focus{outline:0}
.fancybox-close-small:hover svg{opacity:1}
.fancybox-slide--iframe .fancybox-close-small,.fancybox-slide--image .fancybox-close-small,.fancybox-slide--video .fancybox-close-small{color:#ccc;padding:5px;right:-12px;top:-44px}
.fancybox-slide--iframe .fancybox-close-small:hover svg,.fancybox-slide--image .fancybox-close-small:hover svg,.fancybox-slide--video .fancybox-close-small:hover svg{background:0 0;color:#fff}
.fancybox-caption::after,.fancybox-caption::before{display:block;position:absolute;content:''}
.fancybox-caption{bottom:0;color:#fff;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:25px 44px;right:0}
.fancybox-caption::before{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-size:contain;bottom:0;left:0;pointer-events:none;right:0;top:-25px;z-index:-1}
.fancybox-caption::after{border-bottom:1px solid rgba(255,255,255, .3);left:44px;right:44px;top:0}
.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}
.fancybox-caption a:hover{color:#fff;text-decoration:underline}
.fancybox-loading{animation:fancybox-rotate .8s infinite linear;background:0 0;border:6px solid rgba(100,100,100, .5);border-radius:100%;border-top-color:#fff;height:60px;left:50%;margin:-30px 0 0 -30px;opacity:.6;padding:0;position:absolute;top:50%;width:60px;z-index:99999}
@keyframes fancybox-rotate{from{transform:rotate(0)}to{transform:rotate(359deg)}}
.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}
.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}
.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}
.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translate3d(0,0,0)}
.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}
.fancybox-fx-fade.fancybox-slide--current{opacity:1}
.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}
.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}
.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scale3d(1,1,1)}
.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-360deg)}
.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(360deg)}
.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0)}
.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}
.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}
.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scale3d(1,1,1) translate3d(0,0,0)}
.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}
.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}
.fancybox-fx-tube.fancybox-slide--current{transform:translate3d(0,0,0) scale(1)}
.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}
.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}
.fancybox-share p{margin:0;padding:0}
.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}
.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}
.fancybox-share__button:hover{text-decoration:none}
.fancybox-share__button--fb{background:#3b5998}
.fancybox-share__button--fb:hover{background:#344e86}
.fancybox-share__button--pt{background:#bd081d}
.fancybox-share__button--pt:hover{background:#aa0719}
.fancybox-share__button--tw{background:#1da1f2}
.fancybox-share__button--tw:hover{background:#0d95e8}
.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}
.fancybox-share__button svg path{fill:#fff}
.fancybox-share__input{background:0 0;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:0;padding:10px 15px;width:100%}
.fancybox-thumbs{background:#fff;bottom:0;display:none;margin:0;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;top:0;width:212px;z-index:99995}
.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}
.fancybox-show-thumbs .fancybox-thumbs{display:block}
.fancybox-show-thumbs .fancybox-inner{right:212px}
.fancybox-thumbs>ul{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}
.fancybox-thumbs-x>ul{overflow:hidden}
.fancybox-thumbs-y>ul::-webkit-scrollbar{width:7px}
.fancybox-thumbs-y>ul::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0, .3)}
.fancybox-thumbs-y>ul::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}
.fancybox-thumbs-loading{background:rgba(0,0,0, .1)}
.fancybox-thumbs>ul>li{-webkit-backface-visibility:hidden;backface-visibility:hidden;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:0;overflow:hidden;padding:0;position:relative;width:100px;background-position:center center;background-repeat:no-repeat;background-size:cover}
.fancybox-thumbs>ul>li:before{border:4px solid #4ea7f9;bottom:0;content:'';left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}
.fancybox-thumbs .fancybox-thumbs-active:before{opacity:1}
@media all and (max-width:800px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs>ul>li{max-width:calc(100% - 10px)}}
:root{
	--default-font: "Montserat", Arial, sans-serif;

	--base-width: 1720px;

	--body-bg-color: #F8F8F9;
	--body-text-color: #333;

	--base-font-size: 16px;

	--main-color: #2CAC6E;

	--second-color: #F4F4F4;
	--thrid-color: #202730;
	
	--border-color: #E5F0F9;

	--default-shadow: 0px 8px 34px rgba(162,210,255, .2);

	--inline-padding: 40px;

	--input-hor-spacing: 16px;
	--input-vert-spacing: 24px
}
html{
	font-size: 100%;
	width: 100%
}
input, a, button, textarea, select{
	outline: none
}
*::-webkit-input-placeholder{
	color: #909090
}
*:-moz-placeholder{
	color: #909090
}
*::-moz-placeholder{
	color: #909090
}
*:-ms-input-placeholder{
	color: #909090
}
.swiper-button-disabled{
	opacity: .5;
	pointer-events: none
}
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select, input[type="submit"], button{
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	font-family: inherit
}
input[type="color"]:focus::-webkit-input-placeholder,input[type="date"]:focus::-webkit-input-placeholder,input[type="datetime"]:focus::-webkit-input-placeholder,input[type="datetime-local"]:focus::-webkit-input-placeholder,input[type="email"]:focus::-webkit-input-placeholder,input[type="month"]:focus::-webkit-input-placeholder,input[type="number"]:focus::-webkit-input-placeholder,input[type="password"]:focus::-webkit-input-placeholder,input[type="search"]:focus::-webkit-input-placeholder,input[type="tel"]:focus::-webkit-input-placeholder,input[type="text"]:focus::-webkit-input-placeholder,input[type="time"]:focus::-webkit-input-placeholder,input[type="url"]:focus::-webkit-input-placeholder,input[type="week"]:focus::-webkit-input-placeholder,input:not([type]):focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder,select:focus::-webkit-input-placeholder,input[type="submit"]:focus::-webkit-input-placeholder,button:focus::-webkit-input-placeholder{
			opacity: 0
}
input[type="color"]:focus:-moz-placeholder,input[type="date"]:focus:-moz-placeholder,input[type="datetime"]:focus:-moz-placeholder,input[type="datetime-local"]:focus:-moz-placeholder,input[type="email"]:focus:-moz-placeholder,input[type="month"]:focus:-moz-placeholder,input[type="number"]:focus:-moz-placeholder,input[type="password"]:focus:-moz-placeholder,input[type="search"]:focus:-moz-placeholder,input[type="tel"]:focus:-moz-placeholder,input[type="text"]:focus:-moz-placeholder,input[type="time"]:focus:-moz-placeholder,input[type="url"]:focus:-moz-placeholder,input[type="week"]:focus:-moz-placeholder,input:not([type]):focus:-moz-placeholder,textarea:focus:-moz-placeholder,select:focus:-moz-placeholder,input[type="submit"]:focus:-moz-placeholder,button:focus:-moz-placeholder{
			opacity: 0
}
input[type="color"]:focus::-moz-placeholder,input[type="date"]:focus::-moz-placeholder,input[type="datetime"]:focus::-moz-placeholder,input[type="datetime-local"]:focus::-moz-placeholder,input[type="email"]:focus::-moz-placeholder,input[type="month"]:focus::-moz-placeholder,input[type="number"]:focus::-moz-placeholder,input[type="password"]:focus::-moz-placeholder,input[type="search"]:focus::-moz-placeholder,input[type="tel"]:focus::-moz-placeholder,input[type="text"]:focus::-moz-placeholder,input[type="time"]:focus::-moz-placeholder,input[type="url"]:focus::-moz-placeholder,input[type="week"]:focus::-moz-placeholder,input:not([type]):focus::-moz-placeholder,textarea:focus::-moz-placeholder,select:focus::-moz-placeholder,input[type="submit"]:focus::-moz-placeholder,button:focus::-moz-placeholder{
			opacity: 0
}
input[type="color"]:focus:-ms-input-placeholder,input[type="date"]:focus:-ms-input-placeholder,input[type="datetime"]:focus:-ms-input-placeholder,input[type="datetime-local"]:focus:-ms-input-placeholder,input[type="email"]:focus:-ms-input-placeholder,input[type="month"]:focus:-ms-input-placeholder,input[type="number"]:focus:-ms-input-placeholder,input[type="password"]:focus:-ms-input-placeholder,input[type="search"]:focus:-ms-input-placeholder,input[type="tel"]:focus:-ms-input-placeholder,input[type="text"]:focus:-ms-input-placeholder,input[type="time"]:focus:-ms-input-placeholder,input[type="url"]:focus:-ms-input-placeholder,input[type="week"]:focus:-ms-input-placeholder,input:not([type]):focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder,select:focus:-ms-input-placeholder,input[type="submit"]:focus:-ms-input-placeholder,button:focus:-ms-input-placeholder{
			opacity: 0
}
/*
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select
	border-radius: 0 */
*, *:after, *:before{
	box-sizing: border-box
}
*[v-cloak]{
	display: none
}
address{
	font-weight: inherit
}
body{
	min-width: 1000px;
	line-height: calc(22 / 14);
	font-family: "Montserat", Arial, sans-serif;
	font-family: var(--default-font);
	font-weight: 400;
	font-size: 16px;
	font-size: var(--base-font-size);
	color: #333;
	color: var(--body-text-color);
	background: #F8F8F9;
	background: var(--body-bg-color);
	position: relative;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh
}
select{
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important
}
select::-ms-expand{
		display: none
}
.head, .footer{
	flex: none
}
#content{
	flex: 1 1 auto
}
.inner-content{
	flex: 1 1 auto;
	/* position: relative */
	z-index: 2
}
a{
	color: #000;
	font-weight: inherit;
	text-decoration: none
}
a[href^="tel"], a[href^="mail"]{
		white-space: nowrap
}
a:not([class]){
		color: var(--main-color-darken);
		color: var(--main-color-darken);
		border-bottom: 1px solid transparent
}
a:not([class]):hover, a:not([class]):focus{
			border-color: currentColor
}
.wrapper{
	max-width: 1720px;
	max-width: var(--base-width);
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: content-box
}
input[type="submit"], button{
	cursor: pointer
}
img, svg{
	max-width: 100%
}
li{
	list-style: none
}
.table-wrap{
	position: relative;
}
.table-wrap__track{
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
}
.table-wrap__shadow{
		width: 12px;
		top: 0;
		bottom: 0;
		position: absolute;
		pointer-events: none;
		background: linear-gradient(to right, #000000, #000000);
		opacity: 0;
}
.table-wrap__shadow--left{
			left: 0	;
			transform: rotateZ(180deg)
}
.table-wrap__shadow--right{
			right: 0	
}
.form__btns{
		display: flex;
}
.form__btns-item:not(:last-child){
				margin-right: 16px
}
.form__submit{
		margin: 24px 0 0;
}
.form__submit-btn{
			text-align: center
}
.form__inputs{
		display: flex;
		flex-wrap: wrap;
}
.form__inputs:not(.form__inputs--2):not(.form__inputs--3):not(.form__inputs--4) .form__inputs-input{
						width: 100%
}
.form__inputs--2, .form__inputs--3, .form__inputs--4{
			margin: 0 0 calc(-1 * 24px) calc(-1 * 16px);
			margin: 0 0 calc(-1 * var(--input-vert-spacing)) calc(-1 * var(--input-hor-spacing));
}
.form__inputs--2 .form__inputs-input,.form__inputs--3 .form__inputs-input,.form__inputs--4 .form__inputs-input{
				margin: 0 0 24px 16px;
				margin: 0 0 var(--input-vert-spacing) var(--input-hor-spacing)
}
.form__inputs--2 .form__inputs-input:not(.form__inputs-input--2){
					width: calc((100% - 16px * 2) / 2);
					width: calc((100% - var(--input-hor-spacing) * 2) / 2)
}
.form__inputs--2 .form__inputs-input--2{
					width: calc((100% - 16px * 1) / 1);
					width: calc((100% - var(--input-hor-spacing) * 1) / 1)
}
.form__inputs--3 .form__inputs-input:not(.form__inputs-input--2){
					width: calc((100% - 16px * 3) / 3);
					width: calc((100% - var(--input-hor-spacing) * 3) / 3)
}
.form__inputs--4 .form__inputs-input:not(.form__inputs-input--2){
					width: calc((100% - 16px * 4) / 4);
					width: calc((100% - var(--input-hor-spacing) * 4) / 4)
}
.form__inputs--4 .form__inputs-input--2{
					width: calc((100% - 16px * 2) / 2);
					width: calc((100% - var(--input-hor-spacing) * 2) / 2)
}
.form__inputs-input{
	display: flex;
	flex-direction: column;
}
.form__inputs-input--2:first-child .default-input__input{
				background-image: url("../img/ico-perse.svg");
				background-position: right 27px center;
				background-repeat: no-repeat
}
textarea.default-input__input:not(.default-input__input--textarea){
		max-height: 57px;
		resize: none;
}
textarea.default-input__input:not(.default-input__input--textarea) ~ .default-input__label{
			position: static;
			margin: 0 0 15px;
			font-size: 0.63em;
			opacity: 1
}
.default-input{
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	justify-content: space-between;
	flex: 1 1 auto;
}
.default-input__inputs{
		display: flex;
}
.default-input__inputs .default-input{
			flex: none
}
.default-input__inputs .default-input:not(:last-child){
				margin-right: 16px
}
.default-input__input{
		border: 1px solid #E5F0F9;
		border: 1px solid var(--border-color);
		border-radius: 5px;
		font-size: 0.88em;
		color: inherit;
		background-color: #fff;
		width: 100%;
		height: 53px;
		transition: border-color .3s ease;
}
.default-input__input:not(.default-input__input--select){
			padding: 17px 16px
}
.default-input__input:not(.default-input__input--textarea){
			max-height: 53px
}
.default-input__input--error:not(:focus):not(:valid){
				color: #2CAC6E;
				color: var(--main-color);
				border-color: currentColor;
}
.default-input__input--error:not(:focus):not(:valid) ~ .default-input__error{
						opacity: 1
}
.default-input__input:focus{
			border-color: #2CAC6E;
			border-color: var(--main-color)
}
.default-input__input--select{
			padding: 10px 50px 10px 16px;
			background-image: url("../img/ico-select-arrow.svg");
			background-repeat: no-repeat;
			background-position: right 19px center;
			position: relative
}
.default-input__input--select:focus, .default-input__input--select.js__opened{
				z-index: 2
}
.default-input__input--select.js__opened ~ .my-select__list-cont{
							display: block
}
.default-input__input--file{
			top: 0;
			left: 0;
			position: absolute;
			opacity: 0;
			width: 1px ;
			height: 1px ;
			overflow: hidden;
			pointer-events: none
}
.default-input__input-filetext{
			position: relative
}
.default-input__input[readonly]{
			cursor: default
}
.default-input__input--textarea{
			min-width: 100%;
			max-width: 100%;
			max-height: 40vh;
			min-height: 124px
}
.default-input__input:required ~ .default-input__label:after{
					content: "*";
					color: red
}
.default-input__label{
		font-size: 0.75em;
		color: #919191;
		margin: 0 0 10px;
}
.default-input__label--file{
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
			position: absolute;
			background: url("../img/ico-file.svg") right 22px center no-repeat;
			cursor: pointer
}
.default-input__error{
		top: calc(100% + 10px);
		right: 0;
		position: absolute;
		font-size: 0.75em;
		line-height: 1.00em;
		color: #2CAC6E;
		color: var(--main-color);
		trasition: opacity .3s ease;
		opacity: 0;
		pointer-events: none
}
@supports (display: grid){
	.form__inputs{
		margin: 0 !important;
		display: grid;
		grid-gap: 24px 16px;
		grid-gap: var(--input-vert-spacing) var(--input-hor-spacing);
	}

		.form__inputs--2{
			grid-template-columns: repeat(2, 1fr)
	}

		.form__inputs--3{
			grid-template-columns: repeat(3, 1fr)
	}

		.form__inputs--4{
			grid-template-columns: repeat(4, 1fr)
	}

		.form__inputs-input{
			width: auto !important;
			margin: 0 !important;
	}

			.form__inputs-input--2{
				grid-column: span 2
	}

			.form__inputs-input--3{
				grid-column: span 3
	}

			.form__inputs-input--4{
				grid-column: span 4
	}
}
.popup{
	display: none;
	width: 821px;
	max-width: 100%;
	padding: 0 !important;

	--input-hor-spacing: 26px;
	--input-vert-spacing: 26px;
}
.popup-form{
		background: #181818;
		padding: 50px 40px !important
}
.popup .base-form__title{
			margin: 0 0 30px
}
.popup .base-form__submit{
			margin: 30px 0 0;
}
.popup .base-form__submit br{
				display: none
}
.modal-message{
	background: #181818;
	padding: 50px 40px !important;
	font-size: 17px
}
body.bx-ios select option{
				color: #fff
}
@media (max-width: 660px){
	.form__inputs{
		grid-gap: 30px;
		gap: 30px;
	}

		.form__inputs--2, .form__inputs--3, .form__inputs--4{
			grid-template-columns: 1fr
	}
			
			.form__inputs-input--2, .form__inputs-input--3, .form__inputs-input--4{
				grid-column: span 1
	}

		.form__submit{
			display: block;
	}

			.form__submit-text{
				margin: 20px 0 0
	}

	.popup-form{
		padding: 30px 20px !important
	}

	.fancybox-slide, .fancybox-stage, .fancybox-inner, .fancybox-container{
		overflow-x: hidden !important
	}

	html, body{
		width: 100% !important;
		overflow-x: hidden !important
	}

	.base-form, .fancybox-slide--html{
		padding: 0 !important
	}

	.popup{
		height: 100%;
		margin-bottom: 0 !important;
	}

		.popup > div[id*="comp"]{
			height: 100%
	}
}
.default-btn{
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	border-radius: 6px;
	border: 1px solid #2CAC6E;
	border: 1px solid var(--main-color);
	font-weight: 500;
	transition: background-color .4s ease, color .4s ease, border-color .4s ease;
	font-size: 0.88em;
	padding: 0.75em 1.81em 0.81em;
	line-height: inherit;
	cursor: pointer;
}
.default-btn svg{
		fill: currentColor;
		flex: none
}
.default-btn path[stroke]{
			stroke: currentColor
}
.default-btn path[fill]{
			fill: currentColor
}
.default-btn > svg{
		margin-right: 12px
}
.default-btn:not(.default-btn--bordered){
		color: #fff;
		background-color: #2CAC6E;
		background-color: var(--main-color)
}
.default-btn:not(.default-btn--bordered):hover:not(:active),.default-btn:not(.default-btn--bordered):focus:not(:active){
				background-color: #30bd79
}
.default-btn--bordered{
		color: #2CAC6E;
		color: var(--main-color)
}
.default-btn--bordered:hover:not(:active),.default-btn--bordered:focus:not(:active){
				color: #fff;
				background-color: #2CAC6E;
				background-color: var(--main-color)
}
.default-btn--loading svg{
			animation: loading 1s linear infinite
}
@keyframes loading{
	0%{
		transform: rotateZ(0deg)
	}
		
	100%{
		transform: rotateZ(-360deg)
	}
}
.popup{
	border-radius: 10px;
	padding: 30px 40px 40px !important;
	width: 430px;
	max-width: 100%
}
.popup#add-user{
		width: 469px
}
.popup__title{
		text-align: center;
		font-size: 1.25em;
		line-height: calc(24 / 20);
		color: #212121;
		margin: 0 0 30px
}
.captcha{
	display: flex;
	align-items: flex-end;
}
.captcha-input{
		margin-right: 16px
}
.captcha-img img{
			display: block
}
.my-select__list{
		overflow-y: auto;
		max-height: 300px;
		-ms-scroll-chaining: none;
		    overscroll-behavior: none;
}
.my-select__list-cont{
			-webkit-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
			top: calc(100% - 1px);
			right: 0;
			left: 0;
			position: absolute;
			z-index: 1;
			border: 1px solid #E5F0F9;
			border: 1px solid var(--border-color);
			background: #fff;
			padding: 16px;
			display: none
}
.my-select__list::-webkit-scrollbar{
			width: 13px;
}
.my-select__list::-webkit-scrollbar-thumb, .my-select__list::-webkit-scrollbar-track{
				border-left: 10px solid #fff
}
.my-select__list::-webkit-scrollbar-thumb{
				background: #2CAC6E;
				background: var(--main-color)
}
.my-select__list::-webkit-scrollbar-track{
				background: #E5F0F9;
				background: var(--border-color)
}
.my-select__list-option{
			transition: color .3s ease;
			padding: 12px 0;
			color: #909090
}
.my-select__list-option:not(:first-child){
				border-top: 1px solid #E5F0F9;
				border-top: 1px solid var(--border-color)
}
.my-select__list-option:not(.selected){
				cursor: pointer
}
.my-select__list-option:hover, .my-select__list-option.selected{
				color: #2CAC6E;
				color: var(--main-color)
}
.h-menu{
	display: flex;
}
.h-menu > li:not(:last-child){
			margin-right: 2.10vw
}
.h-menu__link{
		transition: color .3s ease;
		font-weight: 500
}
.h-menu__link:hover, .h-menu__link:focus{
			color: #2CAC6E;
			color: var(--main-color)
}
.head{
	background: #fff;
	padding: 1.56em 0;
	box-shadow: 0px 8px 34px rgba(162,210,255, .2);
	box-shadow: var(--default-shadow);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}
.head__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center
}
.logo{
	display: block;
}
.logo img{
		display: block
}
.h-btns{
	display: flex;
}
.h-btns__item:not(:last-child){
			margin-right: 16px
}
@media (max-width: 1400px){
	.head{
		padding: 15px 0
	}
}
.footer{
	background: #ffffff;
	box-shadow: 0px 8px 34px rgba(162,210,255, .2);
	box-shadow: var(--default-shadow);
	padding: 2.50em 0;
	margin: 40px 0 0;
}
.footer__wrap{
		display: flex ;
		align-items: center;
		justify-content: space-between
}
.dev{
	display: block;
}
.dev img{
		display: iherit
}
.copy{
	color: #666;
	line-height: 1.25em
}
@media (max-width: 1400px){
	.footer{
		padding: 15px 0;
		margin: 30px 0 0
	}
}
.data-loading{
	position: relative
}
.data-loading::after{
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background: url("../img/ico-loader.svg") center no-repeat, rgba(255,255,255, .6)
}
.last-user{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 8px 34px rgba(162,210,255, .2);
	box-shadow: var(--default-shadow);
	flex: 1 1 auto;
}
.last-user__title, .last-user__profile, .last-user__btns, .last-user__summary{
		flex: none
}
.last-user__title{
		color: #212121;
		font-size: 1.25em;
		font-weight: 500;
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color);
		padding: 20px 40px;
		padding: 20px var(--inline-padding)
}
.last-user__profile{
		padding: 24px 40px 32px;
		padding: 24px var(--inline-padding) 32px
}
.last-user__list{
		flex: 1 1 auto
}
.last-user__btns{
		padding: 0 40px 32px;
		padding: 0 var(--inline-padding) 32px;
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color)
}
.last-user__summary{
		padding: 15px 40px 27px;
		padding: 15px var(--inline-padding) 27px;
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.last-user__summary-title{
			font-weight: 500
}
.lu-btns{
	display: flex;
}
.lu-btns__item:not(:last-child){
			margin-right: 16px
}
.user{
	display: flex;
	align-items: center;
}
.user__img{
		border-radius: 50%;
		flex: none;
		width: 90px;
		height: 90px;
		position: relative
}
.user__img:not(:last-child){
			margin-right: 24px
}
.user__img img{
			display: block;
			border-radius: inherit;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center
}
.user__desc{
		flex: 1 1 auto
}
.ud{
	position: relative;
}
.ud__status{
		top: 6px;
		right: 0;
		position: absolute
}
.ud__name{
		margin: 0 0 10px;
		display: flex;
		align-items: center;
		padding-right: 60px;

		/* &[href] */

		/* 	&:hover */
		/* 		color: var(--main-color) */
}
.ud__name span{
			font-weight: 500;
			font-size: 1.13em
}
.ud__name-temp{
			height: 28px;
			display: flex;
			flex-direction: column;
			position: relative;
			align-items: center;
			justify-content: flex-start;
			margin-left: 10px;
			transform: translateY(3px);
}
.ud__name-temp img{
				max-width: none;
				width: 30px
}
.ud__name-temp:hover .thermometer__popup{
					opacity: 1;
					pointer-events: all
}
.ud__name-temp i{
				font-style: normal;
				color: inherit;
				display: block;
				text-align: center;
				margin: 3px 0 0;
				font-size: 12px
}
.ud__row{
		max-width: 150px
}
.ud__row:not(:last-child){
			margin: 0 0 10px
}
.ud__row-title{
			font-size: 0.75em
}
.ud__row-text{
			line-height: calc(22 / 16);
			margin: 3px 0 0
}
.thermometer__popup{
	transition: opacity .3s ease;
	opacity: 0;
	pointer-events: none;
	color: #000;
	background: #fff;
	padding: 10px;
	top: 50%;
	left: calc(100% + 12px);
	position: absolute;
	border: 1px solid #E5F0F9;
	border: 1px solid var(--border-color);
	transform: translateY(-50%);
	box-shadow: 0px 8px 34px rgba(162,210,255, .2);
	box-shadow: var(--default-shadow);
	font-size: 13px;
	white-space: nowrap;
	z-index: 1;
	border-radius: 5px
}
.temperature-numbers__norm{
		color: #2CAC6E;
		color: var(--main-color)
}
.temperature-numbers__mid{
		color: #d7b000
}
.temperature-numbers__high{
		color: red
}
.user-status--working,.user-dot--working{
		color: #2CAC6E;
		color: var(--main-color)
}
.user-status--absence,.user-dot--absence{
		color: #EB5757
}
.user-status-thermometer,.user-dot-thermometer{}
.user-status{
	font-size: 0.75em
}
.user-dot{
	border-radius: 50%;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	background-color: currentColor;
	top: 1%;
	right: 17%;
	position: absolute
}
.lu-list__row{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 40px;
		padding: 15px var(--inline-padding);
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color);
}
.lu-list__row .subtitle{
			color: #909090;
			font-size: 0.88em
}
.lu-list__row-camera{
			width: 160px
}
.lu-list__row-date{
			width: 100px
}
@media (max-width: 1400px){
	.last-user{
		display: grid;
		grid-template-areas: "title title" "profile list" "btns summary";
		grid-template-columns: minmax(480px, 40%) 1fr;
	}
		/* gap: 30px */

		.last-user__title{
			grid-area: title
	}
		
		.last-user__profile{
			grid-area: profile
	}

		.last-user__btns{
			grid-area: btns;
			border-top: 1px solid #E5F0F9;
			border-top: 1px solid var(--border-color);
			padding-top: 15px;
			border-bottom: none
	}

		.last-user__list{
			grid-area: list;
			border-left: 1px solid #E5F0F9;
			border-left: 1px solid var(--border-color)
	}
		
		.last-user__summary{
			grid-area: summary;
			border-left: 1px solid #E5F0F9;
			border-left: 1px solid var(--border-color)
	}
}
.l-camera{
	flex: 1 1 auto;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 34px rgba(162,210,255, .2);
	box-shadow: var(--default-shadow);
}
.l-camera__video{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		max-height: 70vh;
}
.l-camera__video video{
			flex: 1 1 auto;
			object-fit: cover;
			object-position: center;
			width: 100%;
			border-radius: 10px;
			background: none;
			display: block
}
.l-camera__toggler{
		bottom: 40px;
		left: 40px;
		position: absolute;
		z-index: 1
}
.camera-toggler{
	border-radius: 30px;
	padding: 8px 16px;
	color: #333;
	background-color: #fff;
	display: flex;
	align-items: center;
	font-size: 0.75em;
	cursor: pointer;
}
.camera-toggler__btn{
		margin: 0 8px;
		border-radius: inherit
}
.ct-btn{
	width: 70px;
	height: 21px;
	position: relative;
	border-radius: inherit;
	border: 1px solid #E7E7E7
}
.ct-btn:after{
		content: "";
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		position: absolute;
		border-radius: inherit;
		background: #2CAC6E;
		background: var(--main-color)
}
.ct-btn--left:after{
			animation: toLeft .6s ease forwards
}
.ct-btn--right:after{
			animation: toRight .6s ease forwards
}
@keyframes toLeft{
	0%{
		right: -1px;
		left: 31px
	}

	50%{
		left: -1px;
		right: -1px
	}
		
	100%{
		right: 31px;
		left: -1px
	}
}
@keyframes toRight{
	0%{
		left: -1px;
		right: 31px
	}

	50%{
		right: -1px;
		left: -1px
	}
		
	100%{
		right: -1px;
		left: 31px	
	}
}
.last-seen{
	display: flex;
}
.last-seen__profile, .last-seen__camera{
		display: flex;
		flex-direction: column
}
.last-seen__profile{
		flex: none;
		width: 545px;
		margin-right: 20px
}
.last-seen__camera{
		flex: 1 1 auto
}
@media (max-width: 1400px){
	.last-seen{
		flex-direction: column-reverse;
	}

		.last-seen__profile{
			width: 100%;
			margin: 30px 0 0
	}
}
.ul-sort{
	display: flex;
	align-items: flex-start;
	padding: 24px 40px;
	padding: 24px var(--inline-padding);
}
.ul-sort__selects{
		margin-left: auto
}
.ul-sort__search{
		width: 480px;
		margin-right: 16px
}
.ul-sort__print{
		display: flex;
		flex-direction: column;
}
.ul-sort__print .default-btn{
			flex: 1 1 auto
}
.ul-sort__print .default-btn:not(:hover):not(:focus){
				border-color: #E5F0F9;
				border-color: var(--border-color)
}
.sort-selects{
	display: flex;
	/* flex-direction: column-reverse */
}
/* align-items: flex-end */
.sort-selects__item:not(:last-child){
			margin-right: 16px
}
.date-selects{
	display: flex;
	margin: 10px 0 0;
}
.date-selects > div{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end
}
.date-selects > div:not(:last-child){
			margin-right: 16px
}
.date-selects__title{
		font-size: .75em;
		color: #919191;
		margin: 0 0 5px;
		width: calc(100% - 16px)
}
.ul-table{
	width: 100%;
}
.ul-table th{
		text-align: left;
		color: #909090;
		font-size: 0.88em;
		padding-top: 14px;
		padding-bottom: 14px
}
.ul-table td{
		padding-top: 16px;
		padding-bottom: 16px
}
.ul-table td:nth-child(6) div,.ul-table td:nth-child(7) div{
				font-family: "Gilroy"
}
.ul-table td, .ul-table th{
		vertical-align: middle ;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color)
}
.ul-table td:first-child,.ul-table th:first-child{
			padding-left: 40px;
			padding-left: var(--inline-padding)
}
.ul-table td:last-child,.ul-table th:last-child{
			padding-right: 40px;
			padding-right: var(--inline-padding)
}
.ul-table .photo{
		margin-left: 16px
}
.photo{
	display: inline-block;
	background: url("../img/ico-photo.svg") center no-repeat;
	width: 16px;
	height: 15px
}
.ul-user{
	display: flex;
	align-items: center;
}
.ul-user__img{
		border-radius: 50%;
		position: relative;
		width: 70px;
		height: 70px;
		flex: none;
		margin-right: 16px;
}
.ul-user__img img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: inherit
}
.ul-user__name{
		font-weight: 500
}
.ul-user__name[href]:hover{
				color: #2CAC6E;
				color: var(--main-color)
}
@media (max-width: 1400px){
	.ul-table{
		min-width: 1300px;

		--inline-padding: 20px;
	}

		.ul-table thead{
			font-size: 12px
	}

		.ul-table tbody{
			font-size: 14px
	}

		.ul-table td, .ul-table th{
			padding-left: 10px;
			padding-right: 10px
	}

	.ul-sort__print{
		top: 13px;
		right: 40px;
		right: var(--inline-padding);
		position: absolute
	}
}
.users-list{
	margin: 40px 0 0;
}
.users-list__title{
		border-radius: 10px 10px 0 0 ;
		font-weight: 500;
		font-size: 1.25em;
		padding: 20px 40px;
		padding: 20px var(--inline-padding);
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color)
}
.users-list__title, .users-list__sort, .users-list__table{
		background: #fff
}
.users-list__table{
		border-radius: 0 0 10px 10px;
		overflow-x: auto
}
.users-list__table::-webkit-scrollbar{
			height: 25px;
}
.users-list__table::-webkit-scrollbar-thumb, .users-list__table::-webkit-scrollbar-track{
				border-top: 15px solid #fff
}
.users-list__table::-webkit-scrollbar-thumb{
				background: #2CAC6E;
				background: var(--main-color)
}
.users-list__table::-webkit-scrollbar-track{
				background: #E5F0F9;
				background: var(--border-color)
}
.users-list__btn{
		text-align: center;
		margin: 40px 0 0
}
.users-list__sort, .users-list__title{
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color)
}
@media (max-width: 1400px){
	.users-list{
		position: relative
	}
}
.photos-list{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -12px;
}
.photos-list__item{
		margin-bottom: 12px
}
.photos-list__item:not(:last-child){
			margin-right: 12px
}
.p-item{
	position: relative;
}
.p-item__img img{
			display: block;
			border-radius: 6px
}
.p-item__remove{
		width: 28px;
		height: 28px;
		top: 0;
		right: 0;
		position: absolute;
		background: url("../img/ico-remove.svg") center no-repeat
}
.p-item__loader{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: linear-gradient(rgba(237,245,252, 0.6), rgba(255,255,255, .1));
}
.p-item__loader-bar{
			height: 8px;
			align-self: stretch;
			margin: 0 calc((100% - 75.57%) / 2);
			border: 1px solid #2CAC6E;
			border: 1px solid var(--main-color);
			border-radius: 6px;
			background: #ffffff
}
.p-item__loader-progress{
			border-radius: inherit;
			transform-origin: left;
			transform: scaleX(0);
			width: 100%;
			height: 100%;
			background: #2CAC6E;
			background: var(--main-color)
}
.drag-drop-field{
	width: 716px;
	height: 131px;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	border: 1px dashed #BDD1E2;
}
.drag-drop-field__img{
		margin: 0 0 6px;
}
.drag-drop-field__img img{
			display: block
}
.drag-drop-field__text{
		font-size: 12px;
		line-height: 15px;
		color: #CBDEEE
}
.user-profile__table{
		margin: 40px 0 0;
}
.user-profile__table .ul-table td:not(:first-child):not(:last-child), .user-profile__table .ul-table th:not(:first-child):not(:last-child){
					text-align: center
}
.user-profile__table .ul-table td:last-child,.user-profile__table .ul-table th:last-child{
					text-align: right
}
.u-about{
	display: grid;
	grid-template-columns: 1fr 1fr minmax(249px, 300px) 1fr;
	grid-gap: 16px;
	gap: 16px;
}
.u-about__profile, .u-about__pos, .u-about__time, .u-about__btns{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #fff;
		border-radius: 10px;
		padding: 2.50em
}
.u-about__btns .lu-btns{
			flex-direction: column;
			align-items: center;
}
.u-about__btns .lu-btns__item:not(:last-child){
					margin: 0 0 24px
}
.u-about__profile .user__img{
				width: 122px;
				height: 122px
}
.u-about__profile .ud__status{
				position: static
}
.u-about__pos .ud__row:not(:first-child){
					margin: 22px 0 0
}
.u-about__pos .ud__row-title{
					color: #909090
}
.u-time{
	text-align: center;
}
.u-time__title{
		font-weight: 500;
		line-height: calc(22 / 16);
		margin: 0 0 20px
}
.u-time__time{
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1
}
.u-time__time:before{
			content: "";
			display: inline-block;
			flex: none;
			margin-right: 10px;
			background: url("../img/ico-clock.svg") no-repeat;
			width: 14px;
			height: 14px
}
@media (max-width: 1400px){
	.user-profile__table{
		position: relative
	}

	.u-about{
		grid-template-columns: 1fr 1fr minmax(249px,300px);
		grid-template-areas: "profile pos time" "btns btns btns";
	}

		.u-about__profile{
			grid-area: profile
	}

		.u-about__pos{
			grid-area: pos
	}

		.u-about__btns{
			grid-area: btns
	}

		.u-about .lu-btns{
			flex-direction: row;
	}

				.u-about .lu-btns__item:not(:last-child){
					margin: 0 16px 0 0
	}
}
.user-edit{
	background: #fff;
	border-radius: 10px;
}
.user-edit__title{
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color);
		padding: 20px 40px;
		padding: 20px var(--inline-padding);
		font-size: 1.25em;
		font-weight: 500
}
.ue-form__text{
		display: flex;
		align-items: center;
		padding: 21px 40px;
		padding: 21px var(--inline-padding);
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color)
}
.ue-form__btns{
		padding: 24px 40px 48px;
		padding: 24px var(--inline-padding) 48px;
		display: flex;
		margin-left: 112px;
}
.ue-form__btns .default-btn:not(:last-child){
				margin-right: 16px
}
.ue-form__photos{
		border-bottom: 1px solid #E5F0F9;
		border-bottom: 1px solid var(--border-color);
		padding: 24px 40px 24px calc(112px + 40px);
		padding: 24px var(--inline-padding) 24px calc(112px + var(--inline-padding))
}
.ue-form__img{
		flex: none;
		margin-right: 24px;
}
.ue-form__img .user__img{
			width: 90px;
			height: 90px
}
.ue-form__inputs{
		flex: 1 1 auto;
		max-width: 1082px
}
.ue-photos__list, .ue-photos__drag{
		margin: 24px 0 0		
}
@font-face{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Gilroy-Regular.woff) format("woff"), url(../fonts/Gilroy-Regular.woff2) format("woff2");
	font-display: swap
}
#content{
	margin: 40px 0 0
}
.file-btn{
	position: relative;
}
.file-btn__input{
		top: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		pointer-events: none
}
@media (max-width: 1400px){
	:root{
		--inline-padding: 25px
	}
}
/*# sourceMappingURL=main.css.map */
